:root {
    --contenedor: #161E31;
    --bg: #111828;
    --base: #134578;
    --button: #66AFFA;
    --contenedorBrand: #1A2034;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: white;
}

body {
    background-color: var(--bg);
    margin: auto;
}

h1 {
    font-size: 100px;
    font-weight: 500;
    color: var(--button);
}

h2 {
    font-size: 55px;
    font-weight: 400;
}

h3 {
    font-size: 40px;
    font-weight: 400;
}

h4 {
    font-size: 35px;
    font-weight: 300;
}

p,
a {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 300;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    width: 200px;
    height: auto;
}

ol{
    margin: 20px 0px 20px 40px;
    padding: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 300;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
    list-style-type: upper-roman;
}


ol li{
    margin-top: 10px;
}

.cursiva {
    font-style: italic;
    font-weight: 400;
}

.transparente {
    background: var(--contenedor);
}

nav {
    position: fixed;
    background-color: var(--contenedor);
    height: 75px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: space-around;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

nav>div {
    display: flex;
    gap: 57px;
    align-items: center;
    justify-content: center;
}

.contenedor {
    max-width: 1100px;
    min-width: 1000px;
    margin: auto;
}

button {
    background-color: var(--button);
    border-radius: 20px;
    width: 155px;
    height: 40px;
    border: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    font-weight: 300;

}

header .main {
    margin-top: 100px;
    width: 560px;
}

header .main h3 {
    margin: 25px 0px;
}

header .botones {
    margin: 50px 0px;
    display: flex;
    gap: 35px;
}

.contenedorHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icono img{
    width: 370px;
    margin-right: 75px;
}

.beneficios {
    margin-top: 125px;
    display: grid;
    grid-column: auto;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.beneficio {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 210px;
    border-radius: 15px;
    background-color: var(--contenedor);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    text-align: left;
}

.beneficio .head {
    padding-top: 20px;
    width: 80%;
    margin: 0px auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.beneficio .head img {
    width: 20px;
    height: 20px;
}

.beneficio .tiny,
.beneficio .head p {
    margin: 0px auto;
    width: 80%;
}

.beneficio .tiny {
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.905);
}

.beneficio .head p {
    margin-left: 5px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 20px;
}


.contenedorRespaldos {
    padding: 150px 0px 250px;
}

.contenedorRespaldos h4 {
    margin-bottom: 65px;
    font-size: 30px;
}

.respaldos {
    padding-left: 20px;
    display: flex;
    gap: 20px;
    width: 1700px;
    margin-bottom: 20px;
}

.contenedorBlur {
    position: relative;
}

.blur {

    overflow-x: scroll;
 
    &::-webkit-scrollbar {
        
        background-color: #252f45;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.55);
        border-radius: 100px;
        cursor:grab;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: rgba(255, 255, 255, 0.95);
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.blur::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    left: -100px;
    background: rgb(17, 24, 40);
    background: linear-gradient(270deg, rgba(17, 24, 40, 0) 0%, rgba(17, 24, 40, 1) 35%);
}

.blur::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 100%;
    right: -100px;
    top: 0px;
    background: rgb(17, 24, 40);
    background: linear-gradient(90deg, rgba(17, 24, 40, 0) 0%, rgba(17, 24, 40, 1) 35%);
}

.respaldo {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    width: 340px;
    height: 145px;
    border-radius: 15px;
    background-color: var(--contenedor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120vh;
    
}


.contenedorImg img {
    height: 550px;
    width: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.info {
    width: 650px;
    height: 550px;
}

.info h2 {
    padding-bottom: 20px;
    font-weight: 500;
}

.info .contenido {
    height: 350px;
    margin-top: 35px;
    border-left: 1px solid white;
    padding-left: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.info .contenido h4 {
    margin-bottom: 20px;
    font-weight: 500;
}

.BotCInfo,
.autoInfo,
.rpaInfo {
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    -webkit-box-shadow: 0px 0px 10px 0px  rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}


.BotCInfo {
    background-color: var(--base);
}

.autoInfo {
    background-color: #172838;
}
.autoInfo .info .contenido{
    height: 400px;
}

.rpaInfo {
    background-color: #4F6478;
}
.rpaInfo .info .contenido{
    height: 220px;
    margin: 35px 0px;
    padding-left: 30px;
}

.procesosAuto {
    margin-top: 175px;
}

.procesosAuto h4 {
    margin-bottom: 60px;
}

.procesos {
    padding-left: 50px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.proceso {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    width: 25%;
    height: 188px;
    border-radius: 15px;
    background-color: var(--contenedor);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.proceso img{
    width: 45px;
    margin: 15px 0px;
}

.proceso li{
    width: 80%;
    margin: auto;
    font-size: 15px;
}

.ventajas {
    background-color: var(--contenedor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
    height: auto;
    width: 100%;
    margin: 50px 0px 50px 0px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  
}

.contenedorVentajas {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
}

.ventaja {   
    flex: 1 1 25%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 1px;
}

.ventaja{
    margin: 25px 0px;
}

.ventaja:not(:first-of-type){
    border-left: #ffffff 0px solid;
}

.ventaja span {
    font-weight: 700;
    color: var(--button);
}

.contenedorRespaldos{
    text-align: center;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-variant-numeric: lining-nums;
    font-feature-settings: "lnum";
    height: 40px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 17px;
}

/* Estilos generales para pantallas más pequeñas (smartphones) */
@media (max-width: 800px) {
    *{
        overflow-x: hidden;
    }
    nav>div{
        gap: 20px;
    }
    .contenedor {
        max-width: 100%;
        min-width: auto;
        padding: 0 15px;
    }
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
        text-align: center;
    }

    h3 {
        font-size: 28px;
    }

    p,
    a, ol {
        font-size: 16px;
        line-height: 1.6;
    }

    header .main {
        width: 100%;
    }

    header .contenedorHeader {
        flex-direction: column;
        text-align: center;
    }

    .icono img {
        width: 0px;
        margin: 0px 0px;
    }

    .beneficios {
        margin-top: 15px;
        grid-template-columns: 1fr;
    }

    .beneficio{
        align-items: center;
        justify-content: center;
        height: auto;
        padding-bottom: 30px;
    }

    .contenedorVentajas {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .ventaja {
        margin-bottom: 20px;
    }
    .contenedorImg{
        width: 0px;
        height: 0px;
    }
    .contenedorInfo {
        height: auto;
        flex-direction: column;
    }
    .BotCInfo{
        background-image: url(https://images.unsplash.com/photo-1535957998253-26ae1ef29506?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        background-color: rgba(0, 0, 0, 0.5); 
        background-blend-mode: darken;
    }
    .autoInfo{
        background-image: url(https://images.unsplash.com/photo-1509966756634-9c23dd6e6815?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        background-color: rgba(0, 0, 0, 0.5); 
        background-blend-mode: darken;
    }
    .rpaInfo{
        background-image: url(https://images.unsplash.com/photo-1578852612716-854e527abf2e?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        background-color: rgba(0, 0, 0, 0.5); 
        background-blend-mode: darken;
    }
    .info{
        width: auto;
        height: auto;
        padding: 100px 10px;
    }

    .info h2{
        margin: 30px 0px;
        font-size: 40px;
    }

    .info .contenido{
        width: auto;
        height: auto;
        padding-left: 30px;
    }

    .BotCInfo, .autoInfo, .rpaInfo{
        border-radius: 0px;
        height: auto;
        margin-top: 0px;
    }

    .autoInfo .info .contenido{
        height: auto;
    }
    .rpaInfo .info .contenido{
        height: auto;
        padding-left: 0px;
    }

    .contenedorImg img {
        border-radius: 0px;
        width: 100%;
    }

    .contenedorRespaldos{
        text-align: center;
        margin:100px 20px 100px 20px;
    }
    

    button {
        width: 100%;
    }

    .botones {
        flex-direction: column;
        gap: 15px;
    }
}
